<%- include('includes/head.ejs') -%>
    <div class="panel">
        <div class="panel-heading">Geräte Manager</div>
        <div class="panel-block is-active">
            <div class="control">
                <label for="" class="label is-large">Temperatur Sensoren</label>
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label for="" class="label">Aktualisierungsintervall</label>
                    </div>
                    <div class="field-body">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input type="number" class="input is-small" id="update-interval" value="10000">
                            </div>
                            <div class="control">
                                <button class="button is-small" onclick="updateInterval();">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table is-fullwidth">
                    <tbody>
                        <% state.temperatures.forEach(sensor=> { %>
                            <tr>
                                <td style="width: 50%;">
                                    <%= sensor.sensor %>
                                </td>
                                <td>
                                    <span class="tag">
                                        <%= sensor.temperature.toFixed(2) %> °C
                                    </span>
                                </td>
                            </tr>

                            <%});%>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel-block">
            <div class="control">
                <label for="" class="label is-large">Angeschlossende Geräte</label>
                <table class="table is-fullwidth">
                    <tbody>
                        <tr>
                            <td style="width: 50%;"> Pumpe </td>
                            <td>
                                <div class="content is-flex is-justify-content-space-between" style="width: 100%;">
                                    <span class="tag is-<%= state.pump ? 'success' : 'danger' %>" id="pump">
                                        <%= state.pump ? 'An' : 'Aus' %>
                                    </span>
                                    <button class="button is-small" onclick="toggleState('pump')">Umschalten</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 50%;"> Filter </td>
                            <td>
                                <div class="content is-flex is-justify-content-space-between" style="width: 100%;">
                                    <span class="tag is-<%= state.filter ? 'success' : 'danger' %>" id="filter">
                                        <%= state.filter ? 'An' : 'Aus' %>
                                    </span>
                                    <button class="button is-small" onclick="toggleState('filter')">Umschalten</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel-block">
            <button class="button is-outlined is-fullwidth" onclick="window.location.reload();">
                Neu Laden
            </button>
        </div>
    </div>

    <script>
        async function toggleState(which) {
            const response = await fetch(`${location.href}/toggle/${which}`, {
                method: 'POST'
            });

            const result = await response.json();
            $(`#${which}`).text(result.state).removeClass(result.state == 'An' ? 'is-danger' : 'is-success').addClass(result.state == 'An' ? 'is-success' : 'is-danger');
        }

        async function updateInterval() {
            const response = await fetch(`${location.href}/interval/${$('#update-interval').val()}`, {
                method: 'POST'
            });

            const result = await response.json();
            $(`#update-interval`).val(interval);
        }

        console.log(`<%- system %>`)
    </script>
    <%- include('includes/foot.ejs') -%>