<%- include('includes/head.ejs') -%>

    <h1>This ist the Pool Monitor Temperature Unit.</h1>
    <div>
        Connected Temperature Sensors: <%= sensors.length %>
    </div>
    <% if (typeof currentSensor !=='undefined' ) { %>
        <div>
            Got a temperature from: <%= currentSensor.id %><br />
                <%= currentSensor.formatted %>
        </div>
        <% } %>
            <div>
                <% sensors.forEach(s=> { %>
                    <div>
                        <a href="/device/<%= s %>">
                            <button>
                                <%= s %>
                            </button>
                        </a>
                    </div>
                    <% }); %>
            </div>
            <%- include('includes/foot.ejs') -%>