<%- include('includes/head.ejs') -%>
    <div class="panel">
        <div class="panel-heading">Geräte Manager</div>
        <div class="panel-block is-active">
            <div class="control">
                <label for="" class="label is-large">Temperatur Sensoren</label>
                <table class="table is-fullwidth">
                    <tbody>
                        <% state.temperatures.forEach(sensor=> { %>
                            <tr>
                                <td>
                                    <%= sensor.sensor %>
                                </td>
                                <td>
                                    <span class="tag">
                                        <%= sensor.temperature.toFixed(2) %> °C
                                    </span>
                                </td>
                            </tr>

                            <%});%>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel-block">
            <div class="control">
                <label for="" class="label is-large">Angeschlossende Geräte</label>
                <table class="table is-fullwidth">
                    <tbody>
                        <tr>
                            <td> Pumpe </td>
                            <td>
                                <span class="tag">
                                    <%= state.pump ? 'An' : 'Aus' %>
                                </span>
                                <button class="button is-small">Umschalten</button>
                            </td>
                        </tr>
                        <tr>
                            <td> Filter </td>
                            <td>
                                <span class="tag">
                                    <%= state.filter ? 'An' : 'Aus' %>
                                </span>
                                <button class="button is-small">Umschalten</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel-block">
            <button class="button is-outlined is-fullwidth">
                Neu Laden
            </button>
        </div>
    </div>
    <%- include('includes/foot.ejs') -%>