<%- include('includes/head.ejs') -%>

    <link rel="stylesheet" href="/static/css/xterm.css">
    <script src="/static/js/xterm.js"></script>
    <div class="panel">
        <div class="panel-heading">Systemeinstellungen</div>
        <div class="panel-block is-active">
            <div class="control">
                <h1 class="title">Version</h1>
                <div class="columns is-multiline">
                    <div class="column is-full">
                        <div class="columns">
                            <div class="column pb-0 is-3">Installierte Version</div>
                            <div class="column pb-0" id="installed-version">
                                <%= versionInfo.installedVersion %>
                            </div>
                        </div>
                    </div>
                    <div class="column is-full">
                        <div class="columns">
                            <div class="column pb-0 is-3">Letzte Version</div>
                            <div class="column pb-0" id="latest-version">
                                <%= versionInfo.latestVersion %>
                            </div>
                        </div>
                    </div>
                    <div class="column is-full">
                        <div class="columns">
                            <div class="column pb-0 is-3">Zuletzt geprüft</div>
                            <div class="column pb-0" id="last-checked">
                                <%= versionInfo.lastChecked.format('DD.MM.yyyy HH:mm:ss') %>
                            </div>
                        </div>
                    </div>
                    <div class="column is-full">
                        <div class="columns">
                            <div class="column buttons">
                                <button class="button is-small" onclick="checkVersion(event)">Neue Version
                                    Prüfen</button>
                                <button
                                    class="button is-small <% if (versionInfo.installedVersion === versionInfo.latestVersion) { %>is-disabled<%}%>"
                                    onclick="update()">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="status">
                    <div class="panel is-link">
                        <div class="panel-heading" style="border-radius: 0px;">Installation Status</div>
                        <div id="status-spinner" class="panel-block is-justify-content-center">
                            <button class="button is-white is-disabled is-loading"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-block">
            <div class="control">
                <h1 class="title">Gerätelog</h1>
                <div style="max-height: 300px; overflow-y: auto;">
                    <table class="table is-fullwidth">
                        <thead>
                            <tr>
                                <th>Gerät</th>
                                <th>Status</th>
                                <th>Auslöser</th>
                                <th>Uhrzeit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% logEntries.forEach(logEntry=> { %>
                                <tr>
                                    <td>
                                        <%= logEntry.name %>
                                    </td>
                                    <td>
                                        <span class="tag is-<%= logEntry.value? 'success' : 'danger' %>">
                                            <%= logEntry.value ? 'An' : 'Aus' %>
                                        </span>
                                    </td>
                                    <td>
                                        <%= logEntry.from %>
                                    </td>
                                    <td>
                                        <%= logEntry.timestamp %>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="panel-block">
            <div class="control">
                <div id="xterm"></div>
            </div>
        </div>
    </div>
    <script src="/static/js/terminal.js"></script>
    <script>
        const $status = $('#status');
        $status.hide();
        function appendMessage(msg, type) {
            $status.show();
            try {
                const { message, ok } = JSON.parse(msg);
                const $msgContainer = $('<div />');
                $msgContainer
                    .addClass('panel-block')
                    .addClass('is-justify-content-center')
                    .addClass(`has-background-${type === 'info' && ok ? 'success' : 'danger'}-light`)
                    .addClass(`has-text-${type === 'info' && ok ? 'success' : 'danger'}`)
                const $msgCtrl = $('<div />');
                $msgCtrl.text(message);
                $msgContainer.append($msgCtrl);
                $msgContainer.insertBefore($('#status-spinner'));
                if (!ok) {
                    return false;
                }
            } catch (e) {
                console.warn('cannot append message', e, msg);
            }

            return true;
        }

        async function update() {
            appendMessage('{ "ok": true, "message": "Starte update." }', 'info');
            const response = await fetch(`${window.location.origin + location.pathname}/update`, {
                method: 'POST',
            });
            if (response.status === 400) {
                appendMessage(await response.text(), 'error');
                return;
            }
            const reader = response.body.getReader();
            do {
                const { value, done } = await reader.read();
                if (!appendMessage(new TextDecoder().decode(value), 'info')) {
                    return;
                }

                if (done) {
                    break;
                }
            } while (true);

            setTimeout(() => {
                location.reload();
            }, 1500);
        }

        async function checkVersion(event) {
            const $button = $(event.target);
            $button.addClass('is-loading');
            const response = await fetch(`${window.location.origin + location.pathname}/check`, {
                method: 'POST'
            });

            const { installedVersion, latestVersion, lastChecked } = await response.json();

            $('#installed-version').text(installedVersion);
            $('#latest-version').text(latestVersion);
            $('#last-checked').text(lastChecked);
            $button.removeClass('is-loading');
        }
    </script>
    <%- include('includes/foot.ejs') -%>